<!-- Login Form -->
<div class="center-container">
  <div class="login-form">
    <h2>Add New Post</h2>
    <form id="add-post-form" onsubmit="return false;">
      <label for="post-title">Title:</label>
      <input type="text" id="post-title" name="post-title" required />

      <label for="post-content">Content/Description:</label>
      <textarea id="post-content" name="post-content" required></textarea>

      <input type="submit" value="Submit" onclick="submitPost()" />
    </form>

  </div>
</div>