   <header>
      <div class="navbar">
        <nav class="navigation hide" id="navigation">
          <ul class="nav-list">
            <span class="close-icon" onclick="showIconBar()"
              ><i class="fa fa-close"></i
            ></span>
            <li class="nav-item">
                <a href="FAQ.html">FAQ</a>
              </li>
              <li class="nav-item">
                <a href="ForumPosts.html">Forum</a>
              </li>
              <li class="nav-item">
                <a href="MyPosts.html">My Posts</a>
              </li>
              <li class="nav-item">
                <a href="MyProfile.html">My Profile</a>
              </li>
              <li class="nav-item">
                <a href="index.html">Home</a>
              </li>
          </ul>
        </nav>
        <a href="#" class="bar-icon" id="iconBar" onclick="hideIconBar()"
          ><i class="fa fa-bars"></i
        ></a>
        <div class="brand">CCAPDEV</div>
      </div>
      
    <div class="container">
      <!-- * Navigation -->
      <div class="navigate">
        <span
          ><a href="index.html">CCAPDEV - Home</a> >>
          <a href="FAQ.html">FAQ</a></span
        >
      </div>
      <div class="topic-container">
        <div class="head">
          <div class="questionsHeader">Inquiries</div>
        </div>

            <!-- * QUESTIONS for FAQ -->
            <div>

                <!-- * question 1 -->
                <div>
                  <div class="inquiry"><a href="#">How do I create a new forum post?</a></div>
                </div>
        
                <div class="content">
                 <div class="answers">
                    To create a new forum post, 
                    click on the "Forum" page from the navigation menu.
                    Then, click the "New Post" button. You can choose the 
                    subforum, add a title, and compose your post. Don't forget 
                    to review our posting guidelines before you submit!
                 </div>

                  <div class="comment">
                    <button onclick="Comment()">Comment</button>
                  </div>
                </div>

                <!-- * question 2 -->
                <div>
                    <div class="inquiry"><a href="#">Can I edit or delete my forum posts?</a></div>
                  </div>
          
                  <div class="content">
                   <div class="answers">
                    Yes, you can edit or delete your posts. Locate your post,
                     and you'll find options for editing or deleting it. Please note 
                     that there might be time restrictions on editing, and deleted posts
                      may not be recoverable.
                   </div>
  
                    <div class="comment">
                      <button onclick="Comment()">Comment</button>
                    </div>
                  </div>
                <!-- * question 3 -->
                <div>
                    <div class="inquiry"><a href="#">What are categories and how do I choose the right one for me?</a></div>
                  </div>
          
                  <div class="content">
                   <div class="answers">
                    Subforums are categories within our forum that help organize discussions. When creating a new post,
                    choose the subforum that best matches the topic of your post. If you're unsure,
                     don't worry; our moderators will help categorize it correctly.
                   </div>
  
                    <div class="comment">
                      <button onclick="Comment()">Comment</button>
                    </div>
                  </div>
                <!-- * question 4 -->
                <div>
                    <div class="inquiry"><a href="#">How do I report inappropriate content or a user's post?</a></div>
                  </div>
          
                  <div class="content">
                   <div class="answers">
                    If you come across inappropriate content or witness behavior that violates our community guidelines,
                    you may message the moderator of the category so it can be handled accordingly.
                   </div>
  
                    <div class="comment">
                      <button onclick="Comment()">Comment</button>
                    </div>
                  </div>
                <!-- * question 5 -->
                <div>
                    <div class="inquiry"><a href="#">Are there rules about posting links or images?</a></div>
                  </div>
          
                  <div class="content">
                   <div class="answers">
                    Yes, there are rules regarding links and images. While sharing relevant links and images is allowed,
                     ensure they are related to the discussion. Avoid spammy or malicious links. Review our
                      posting guidelines for specific details on link/image usage
                   </div>
  
                    <div class="comment">
                      <button onclick="Comment()">Comment</button>
                    </div>
                  </div>
                
              </div>
      </div>
      