    <header>
      <div class="navbar">
        <nav class="navigation hide" id="navigation">
          <ul class="nav-list">
            <span class="close-icon" onclick="showIconBar()"
              ><i class="fa fa-close"></i
            ></span>
            <li class="nav-item">
              <a href="FAQ">FAQ</a>
            </li>
            <li class="nav-item">
              <a href="ForumPosts">Forum</a>
            </li>
            <li class="nav-item">
              <a href="MyPosts">My Posts</a>
            </li>
            <li class="nav-item">
              <a href="MyProfile">My Profile</a>
            </li>
            <li class="nav-item">
              <a href="home">Home</a>
            </li>

          </ul>
        </nav>
        <a href="#" class="bar-icon" id="iconBar" onclick="hideIconBar()"
          ><i class="fa fa-bars"></i
        ></a>
        <div class="brand">CCAPDEV</div>
        
      </div>
      <!-- ! Search Box -->
      <div class="search-box">
        <div>
          <select name="" id="">
            <option value="everything">everything</option>
            <option value="title">title</option>
            <option value="description">description</option>
          </select>
          <input type="text" name="q" id="" placeholder="search" />
          <button><i class="fa fa-search"></i></button>
        </div>
      </div>
    </header>
    <div class="container">
      <div class="subforum">
        <div class="subforum-title">
          <h1>Categories for You</h1>
        </div>
        <!-- ! ROW -->
        <div class="subforum-row">
          <div class="subforum-icon subforum-column center">
            <i class="fa-brands fa-pagelines"></i>
          </div>
          <div class="subforum-description subforum-column">
            <h1><a href="#">For foodies! Cookbook and Recipes</a></h1>
            <br />
            <p>
              Join our subforum to learn new cooking methods. Share recipes with
              each other, and places to buy cheaper ingredients!
            </p>
          </div>
          <div class="subforum-stats subforum-column center">
            <span>24 posts</span>
          </div>
          <div class="subforum-info subforum-column">
            <a href="#">Last Post</a> by <a href="#">JustAUser</a>
            <br />
            on <small>15 Oct 2023</small>
          </div>
        </div>

        <!-- ! MORE ROW -->
        <div class="subforum-row">
          <div class="subforum-icon subforum-column center">
            <i class="fa-brands fa-pagelines"></i>
          </div>
          <div class="subforum-description subforum-column">
            <h1><a href="#">Real life Scary Stories</a></h1>
            <br />
            <p>
              Share your spooky stories with us. The spookier the better. Spooky
              scary stuff. Ghost, vampire, zombies, tikbalang, white lady
              encounters, anything you want!
            </p>
          </div>
          <div class="subforum-stats subforum-column center">
            <span>41 posts</span>
          </div>
          <div class="subforum-info subforum-column">
            <a href="#">Last Post</a> by <a href="#">JustAUser</a>
            <br />
            on <small>15 Oct 2023</small>
          </div>
        </div>
        <!-- ! MORE ROW -->
        <div class="subforum-row">
          <div class="subforum-icon subforum-column center">
            <i class="fa-brands fa-pagelines"></i>
          </div>
          <div class="subforum-description subforum-column">
            <h1><a href="#">Pop Culture!</a></h1>
            <p>
              Dive into the vibrant and ever-evolving world 
              of pop culture in our forum. Share your thoughts 
              on the latest movies, TV shows, music, celebrities,
              fashion trends, and more. Whether you're a cinephile,
              a music enthusiast, or just love staying updated with
              what's trending, this forum is the place to discuss,
              review, and celebrate all things pop culture. Join the
              conversation, exchange recommendations, and connect with 
              fellow enthusiasts who share your passion for the latest
              pop culture phenomena.
            </p>
          </div>
          <div class="subforum-stats subforum-column center">
            <span>36 posts</span>
          </div>
          <div class="subforum-info subforum-column">
            <a href="#">Last Post</a> by <a href="#">JustAUser</a>
            <br />
            on <small>11 Oct 2023</small>
          </div>
        </div>
        <!-- ! MORE ROW -->
        <div class="subforum-row">
          <div class="subforum-icon subforum-column center">
            <i class="fa-brands fa-pagelines"></i>
          </div>
          <div class="subforum-description subforum-column">
            <h1><a href="#">Academics</a></h1>
            <p>
              The Academics Forum is the hub for intellectual discussions,
              knowledge sharing, and academic support. Whether you're a student,
              educator, or lifelong learner, this forum covers a wide range of
              academic subjects and study-related topics. Engage in discussions
              about subjects such as mathematics, literature, history, science,
              and more. Seek assistance with homework or share your insights on
              the latest research and educational techniques.
              Join this community to foster a love for learning and collaborate with 
              fellow academic enthusiasts.
            </p>
          </div>
          <div class="subforum-stats subforum-column center">
            <span>60 posts</span>
          </div>
          <div class="subforum-info subforum-column">
            <a href="#">Last Post</a> by <a href="#">JustAUser</a>
            <br />
            on <small>11 Oct 2023</small>
          </div>
        </div>
        <!-- ! MORE ROW -->
        <div class="subforum-row">
          <div class="subforum-icon subforum-column center">
            <i class="fa-brands fa-pagelines"></i>
          </div>
          <div class="subforum-description subforum-column">
            <h1><a href="#">Health and Lifestyle</a></h1>
            <p>
              Prioritize your well-being in our Health Forum. Here, you'll find
              a space dedicated to discussions on physical, mental, and emotional
              health. Share your health and fitness journey, ask questions, or
              offer guidance on topics like nutrition, exercise, mental health,
              and lifestyle choices. Whether you're seeking advice on maintaining 
              a healthy lifestyle or coping with health challenges, our community 
              is here to provide support, resources, and a wealth of information.
              Join us in the pursuit of holistic well-being and connect with those who
              share your dedication to a healthier life.
            </p>
          </div>
          <div class="subforum-stats subforum-column center">
            <span>21 posts</span>
          </div>
          <div class="subforum-info subforum-column">
            <a href="#">Last Post</a> by <a href="#">JustAUser</a>
            <br />
            on <small>11 Oct 2023</small>
          </div>
        </div>
      </div>
    </div>

    <!-- * Forum Info -->
    <div class="forum-info">

      <div class="forum-con">
        <div class="chart">
          CCAPDEV - Stats &nbsp;<i class="fa fa-bar-chart"></i>
        </div>
        <div>
          <span
            ><u>5,432</u> Posts about <u>69</u> Topics by
            <u>13,420</u> Users</span
          ><br />
          <span
            >Latest Post: <b><a href="#">Random Post</a></b> on 14 Oct 2023 by
            <a href="#">XxDragonHunter69</a></span
          >
        </div>
      </div>

      <div class="button-layout">
      <button id="logout-button">Logout</button>
      </div>
      
    </div>