   <header>
      <div class="navbar">
        <nav class="navigation hide" id="navigation">
          <ul class="nav-list">
            <span class="close-icon" onclick="showIconBar()"
              ><i class="fa fa-close"></i
            ></span>
            <li class="nav-item">
              <a href="FAQ">FAQ</a>
            </li>
            <li class="nav-item">
              <a href="ForumPosts">Forum</a>
            </li>
            <li class="nav-item">
              <a href="MyPosts">My Posts</a>
            </li>
            <li class="nav-item">
              <a href="MyProfile">My Profile</a>
            </li>
            <li class="nav-item">
              <a href="home">Home</a>
            </li>
          </ul>
        </nav>
        <a href="#" class="bar-icon" id="iconBar" onclick="hideIconBar()"
          ><i class="fa fa-bars"></i
        ></a>
        <div class="brand">CCAPDEV</div>
      </div>
      <!-- ! Search Box -->
      <div class="search-box">
        <div>
          <select name="" id="">
            <option value="everything">everything</option>
            <option value="title">title</option>
            <option value="description">description</option>
          </select>
          <input type="text" name="q" id="" placeholder="search" />
          <button><i class="fa fa-search"></i></button>
        </div>
      </div>
    </header>
    <div class="container">
      <!-- * Navigation -->
      <div class="navigate">
        <span
          ><a href="home">back to home</a> >>
          My Posts</a></span
        >
      </div>
      <div class="topic-container">
        <div class="head">
          <div class="author">Author</div>
          <div class="content">Literature:Quote of the Day (1,432 Views)</div>
           <div class="delete-button">
      <button onclick="deletePost()">Delete Post</button>
    </div>
        </div>

        

        <div class="body">
          <div class="author">
            <div class="username"><a href="#">Storoberi</a></div>
            <img src="/img/my-melody.png" alt="my melody" />
            <div>Posts: <u>42</u></div>
          </div>
          
          <div class="content">
            “I saw that you were perfect, and so I loved you. Then I saw that
            you were not perfect and I loved you even more.” – Angelita Lim
            <div class="comment">
              <button onclick="showComment()">Comment</button>
               
<div class="votePost">
  <i class="fas fa-arrow-up" onclick="upvote(this)" onmouseover="hoverButton(this)" onmouseout="unhoverButton(this)"></i>
  <span class="upvote-count">0</span>
  <i class="fas fa-arrow-down" onclick="downvote(this)" onmouseover="hoverButton(this)" onmouseout="unhoverButton(this)"></i>
  <span class="downvote-count">0</span>
</div>
               
            </div>
          </div>
        </div>



      <!-- ! Comment Input -->
      <div class="comment-area hide" id="comment-area">
        <textarea name="comment" id="" placeholder="comment here..."></textarea>
        <input type="submit" value="submit" />
      </div>

      <!-- ! Show Comments -->
      <div class="comment-container">
        <div class="head">
          <div class="author">Author</div>
          <div class="content">Comments</div>
        </div>

        <div class="body">
          <div class="author">
            <div class="commentUsername"><a href="#">Travisscott</a></div>
            <img src="/img/travisscott.jpg" alt="travis scott" />
            <div>Posts: <u>69</u></div>

            <div class="commentUsername"><a href="#">SwampLord</a></div>
            <img src="/img/shrek.jpg" alt="shrek" />
            <div>Posts: <u>50</u></div>

            <div class="commentUsername"><a href="#">ChosenOne</a></div>
            <img src="/img/vader.jpg" alt="vader" />
            <div>Posts: <u>1080</u></div>

            <div class="commentUsername"><a href="#">HeroBoy</a></div>
            <img src="/img/JoseRizal.jpg" alt="jose" />
            <div>Posts: <u>333</u></div>

            <div class="commentUsername"><a href="#">NotGrimace</a></div>
            <img src="/img/barney.jpg" alt="barney" />
            <div>Posts: <u>200</u></div>

          </div>

          <div class="content">
            <div class="commentContainer">
              Wow that's such a great quote. Thanks for sharing!
            </div>
            <div class="comment">
              <button onclick="showReply()">Reply</button>
                <div class="delete-button">
        <button onclick="deleteComment(this)">Delete Comment</button>
      </div>
            </div>

            <div class="commentContainer">
              Inspirational! Amazing!
            </div>
            <div class="comment">
              <button onclick="showReply()">Reply</button>
                <div class="delete-button">
        <button onclick="deleteComment(this)">Delete Comment</button>
      </div>
            </div>

            <div class="commentContainer">
              If I could cry I would. May the force be with you, amazing person.
            </div>
            <div class="comment">
              <button onclick="showReply()">Reply</button>
                <div class="delete-button">
        <button onclick="deleteComment(this)">Delete Comment</button>
      </div>
            </div>

            <div class="commentContainer">
              Ang nagsasabing tapus ay siyang kinakapus.
            </div>
            <div class="comment">
              <button onclick="showReply()">Reply</button>
                <div class="delete-button">
        <button onclick="deleteComment(this)">Delete Comment</button>
      </div>
            </div>

            <div class="commentContainer">
              That's so great that should be the lyrics to my next song! :D
            </div>
            <div class="comment">
              <button onclick="showReply()">Reply</button>
                <div class="delete-button">
        <button onclick="deleteComment(this)">Delete Comment</button>
      </div>
            </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ! Reply Input -->
      <div class="comment-area hide" id="reply-area">
        <textarea name="comment" id="" placeholder="reply here..."></textarea>
        <input type="submit" value="submit" />
      </div>
